.container-body{
  background: #1B1B1B;
  width: 100%;
  height: 100rem;  
}
.container-banner-dt{
  background: #1B1B1B ;
 background: url(../../assets/img/Imagem-destaque-main-lp.png) no-repeat;  
 background-size: 100% 55% ;
  height: 100vw;
  display: grid;
  align-items: center;
}
.container-title{
  height: 3vw;
}

/* .banner-destaque{
  width: 100%;
  height: 100%;
} */


@font-face {
  font-family: FuturaStd;
  font-style: normal;
  font-weight: normal;
  src: url(../../assets/Fontes/FuturaStd-CondensedBold.otf);
}
.titleDest-main{
  margin: 1rem 0 0 4rem; 
  color: #E0C54D;
  font-weight: bolder;
}

.destaque-container{
  height: 40%;
}

.sectionAoVivoDest{
  background: none;
  width: 100%;
  height: 40%;
  color: antiquewhite;
  grid-row-start: 2;
  margin-left: 3rem;
}

.btnAoVivo{
  width: 30vw;
  height: 12vw;
  background: none;
  border: none;
}
.btnAoVivo:focus{
  outline: none;
}

.imgbtnVivo{ 
  width: 29vw;
  height: 12vw;
}