.container-main{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vw;
  height: auto;
  background:  #000000; 
  overflow: hidden;
}
.sectionCarrossel{
  width: 100%;
  height: 30%;
  display: grid;
}

.carrossel{
  justify-self: center;
  background: rgb(6, 6, 34);
  width: 100%;
  height: 30%;
  color: antiquewhite;
}
.modalidade{
  width: 20%;
  height: 10%;
  display: grid;
}
.medalhas {
  /* position: fixed; */
  bottom: 15%;
  width: 30%
}
.carStyle{
  align-self: end;  
  width: 20%;
  height: 20%;
  background: rgb(56, 2, 2);
  width: 20vw;
  height: 10vw;
  color: antiquewhite;
}











