.container-main{
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* width: 100vw;
  height: 2000px; */
  height: auto;
  background:  #1B1B1B; 
  overflow: hidden;
}
@font-face {
  font-family: FuturaStd;
  font-style: normal;
  font-weight: normal;
  src: url(../../assets/Fontes/FuturaStd-CondensedBold.otf);
}
.sectionCarrossel{
  width: 100%;
  height: 30%;
  display: grid;
  grid-template-rows: 3rem 12rem;  
}

.title{
  margin: 1rem 0 0 3rem; 
  color: #E0C54D;
  font-weight: bolder;  
}

.titleTwo{
  display: grid;
  color: #E0C54D; 
  font-weight: bolder; 
  align-self: end;
  justify-self: center;
}


.sectionAoVivo{
  background: #1B1B1B;
  width: 100%;
  height: 40px;
  color: antiquewhite;
  grid-row-start: 2;
  margin-left: 3rem;
  margin-bottom: 20px;
}


.modalidade{
  width: 20%;
  height: 10%;
  display: grid;
}
.medalhas {
  bottom: 15%;
  width: 30%
}
/* .carStyle{
  align-self: end;  
  width: 20%;
  height: 20%;
  background: rgb(56, 2, 2);
  width: 20vw;
  height: 10vw;
  color: antiquewhite;
} */

.containerMedalhas{  
  width: 100%;
  height: 25%;
  align-items: center;
  justify-items: center;
  margin-left: 3%;
  margin-right: 3%;
}

.btnAoVivo{
  width: 30vw;
  height: 12vw;
  background: none;
  border: none;
}
.btnAoVivo:focus{
  outline: none;
}

.imgbtnVivo{ 
  width: 29vw;
  height: 12vw;
}
.btnContainer{
  width: 84rem;
  display: grid;
  grid-template-rows: 25rem;  
}

.buttonHome{  
  grid-row-start: 1;  
  background: none;
  width: 10vw;
  height: 10vw;
  border: none;
}

.buttonHome:focus {
  outline:none;  
}

.buttonTroca{  
  margin-top: 0.5vw;
  grid-row-start: 1;  
  background: url(../../assets/img/home-medalha-brasil.png) no-repeat;
  background-size: 9vw ;
  width: 9vw;
  height: 9vw;
  border: none;
  position: relative;
}

.buttonTroca:focus {
  outline:none;
  background: url(../../assets/img/Brasil.png) no-repeat;
  background-size: 9vw ;
}

.buttonTroca:hover {
  background: url(../../assets/img/Brasil.png) no-repeat;
  background-size: 9vw ;
}

.btnContMod{
  width: 82rem;
  display: grid;
  grid-template-rows: 25rem; 

}

.buttonModalidades{
  background: none;
  grid-row-start: 1;
  width: 18vw;
  height: 10vw;
  border: none;
  /* border: 2px solid rgb(34, 18, 18); */
  margin: 2px;
}
.buttonModalidades:focus{
  outline: none;
}

.imgbtn{
  width: 9vw;
  height: 9vw;
  position: relative;  
}
.imgbtnMod{
  width: 17vw;
  height: 9.5vw;
  position: relative;  
}











