
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%;
    width: 25%;
    text-align: right;
    padding: 2rem;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
}

.container-img {
    display: grid;
    padding-right: 1vh;
    margin-top: 2vh;
}

.container-img-over {
    overflow-y: auto;
    overflow-x: hidden;
}

.container-img img {
    margin: 10px;
    width: 100%;
    cursor: pointer;
}