

.container-nav{
  display: grid; 
  background:  #000000; 
  color: #FBF5E7;
  align-items: center;
}

.nav-bar{
  display: grid;
  grid-template-columns: 25% 55% 20%;
  height: 5vw;
  grid-template-rows: 1vw 3vw 1vw;
}
.box-a{
  grid-row-start: 2;  
  align-self: center;
  padding: 15px;
}
.saudacao{
  grid-column-start: 2;
  grid-row-start: 2;
  /* text-align: end; */
  
}
.saud-paragrafo{
  color: #FBF5E7;
  margin: 0;
}
.container-logo{
  display: grid;
  grid-column-start: 3;
  grid-row-start: 2;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.logout{
  width: 3vw;
  height: 3vw;
  justify-self: center;
  align-self: center;
  color: #FBF5E7;
  background: none;
  border: none;
  font-size: 30px;
}
.logo-perfil{
  width: 3vw;
  height: 3vw;
  justify-self: self-end;
  align-self: center;
  background: none;
  border: none;
  font-size: 30px;
  color: #FBF5E7;
}
.logo-claro{
  height: 10vw;
}

.tooltip{
  background: rgb(78, 7, 7);
  padding: 2px 10px;
  color: #FBF5E7;
  border-radius: 3;
}

.fa-user-alt  .fa-sign-out-alt{
  color: #FBF5E7;  
}
