.container-nav-dif{
  display: grid; 
  background:  #000000; 
  color: #FBF5E7;
  align-items: center;
  width: 100%;

}

.navBar-dif{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 10% 50% 40%;
  height: 5vw;
  grid-template-rows: 0.5vw 3.5vw 1vw;
}

.logo-back-dif{
  grid-row-start: 2; 
  display: grid;
  grid-template-columns: 20% 50% 30%;
  align-items: center   
}

.icon-left-dif{
  font-size: 30px;
  grid-column-start: 2;
  color: #FBF5E7;
}
.icon-left-dif:hover{
  color:#FBF5E7;
  text-decoration: none;
}

/* .box-a{
  grid-row-start: 2;  
  align-self: center;
  padding: 15px;
} */

.saudacao-dif{
  grid-column-start: 2;
  /* grid-row-start: 2; */
  text-align: end; 
  align-items: center;
  /* margin-top: 10px;  */
}

/* .saud-paragrafo{
  color: #FBF5E7;
  
} */

.container-logo-dif{
  display: grid;
  grid-column-start: 3;
  grid-row-start: 2;
  grid-template-columns: 60% 30% 10%;
  align-items: center;  
}


.logout-dif{
  justify-self: center;
  color: #FBF5E7;
  background: none;
  border: none;
  font-size: 15px;
  /* align-self: start */
}
.logo-perfil-dif{
  justify-self: end;
  background: none;
  border: none;
  grid-column-start: 1;
  font-size: 15px;
  color: #FBF5E7;
  /* align-self: start */
}
.logo-search{
  justify-self: center;
  background: none;
  border: none;
  grid-column-start: 3;
  font-size: 20px;
  color: #FBF5E7;
  margin-top: 0;
  /* align-self: start; */
}
.logo-claro-dif{
  height: 4vw;
  padding-right: 2vw;
}
.logoOlimpiadas-dif{
  height: 2vw;
}
.logoClaroNow-dif{
  height: 3vw;
  padding-right: 2vw;
}
.tooltip{
  background: rgb(78, 7, 7);
  padding: 2px 10px;
  color: #FBF5E7;
  border-radius: 3;
}

.fa-user-alt  .fa-sign-out-alt{
  color: #FBF5E7;  
}

.fa-chevron-circle-left{
  background-color: #000000;
  color: #FBF5E7;
}
