.container-hd{
  margin: 0;
  padding: 0;
  display: grid;
  background: #1B1B1B;

}

.container-banner{
  width: 100%;
  height: 20%;
  color: aliceblue;
}

.basqueteImg{
  width: 100%;
}
@font-face {
  font-family: FuturaStd;
  font-style: normal;
  font-weight: normal;
  src: url(../../assets/Fontes/FuturaStd-CondensedBold.otf);
}

.titleMod{
  margin: 1rem 0 0 4rem; 
  color: #E0C54D;
  font-weight: bolder;
}

.btnMod{
  background: #1B1B1B;
  width: 100%;
  color: antiquewhite;
  /* grid-row-start: 2; */
  margin-left: 3rem;
  grid-template-rows: 25rem;
}

.Modbtn{
  background: none;
  grid-row-start: 1;
  width: 30vw;
  height: 15vw;
  border: none;
  margin: 2px;
}
.btnModimg{
  width: 29vw;
  height: 12vw;
}
.destbtn{
  background: none;
  grid-row-start: 1;
  width: 18vw;
  height: 15vw;
  border: none;
  margin: 2px;
}

.btnDestimg{
  width: 17vw;
  height: 12vw;
}

