.container-nav{
  display: grid; 
  background:  #000000; 
  color: #FBF5E7;
  align-items: center;
  width: 100%;
  z-index: 10;
}

.navBar{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 5% 55% 40%;
  height: 4vw;
  grid-template-rows: 0.5vw 3.5vw 1vw;
}

.logo-back{
  grid-row-start: 2; 
  display: grid;
  grid-template-columns: 20% 50% 30%;
  align-items: center   
}

.icon-left{
  font-size: 30px;
  grid-column-start: 2;
}

.saudacao{
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: start;
  /* margin-top: 10px;  */
}

.saud-paragrafo{
  color: #FBF5E7;
}

.container-logo{
  justify-self: end;
  justify-items: end;
  display: unset;
  grid-column-start: 3;
  grid-row-start: 2;  
  padding-right: 2vw;
  padding-top: 1vw;
  text-align: center;
}


.no-ar{
  justify-self: end;
  color: #FBF5E7;
  background: none;
  border: none;
  font-size: 20px;
  padding-left: 1vw;
  /* align-self: start */
}
.estatisticas{
  font-size: 20px;
  text-align: end;
  color: #FBF5E7;
  padding-right: 2vw;
  padding-left: 1vw;
  /* align-self: start */
}


.logo-estat{
  height: 1.8vw;
  padding-right: 0.2vw;
}

.logo-mosaic{
  height: 2vw;
  padding-right: 0.2vw;
}

.logo-arrow{
  height: 2vw;
  padding-left: 0.3vw;
}

.logoEspn{
  height: 3vw;
  padding-right: none;
  justify-self: start;
}

.fa-user-alt  .fa-sign-out-alt{
  color: #FBF5E7;  
}

.fa-chevron-circle-left{
  background-color: #000000;
  color: #FBF5E7;
}
