.countryDialog .modal-content{
    background-color: black;
    /* background-color: red; */
    border: 1px solid white;
}

body {
    color: white;
}

.circleBase {
    margin: auto;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: 10px;
}

td {
    text-align: center;
    color: white;
}

.gold {
    background: yellow;
}

.silver {
    background: silver;
}

.bronze {
    background: brown;
}