.container-medalhas{
  margin: 0;
  padding: 0;
  display: grid;
  background: #1B1B1B;
  overflow: hidden;
}

.container-banner-md{
  width: 100%;
  height: 20vw;
  color: aliceblue;
}

.voleiImg{
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: FuturaStd;
  font-style: normal;
  font-weight: normal;
  src: url(../../assets/Fontes/FuturaStd-CondensedBold.otf);
}

.titleDest{
  margin: 1rem 0 0 4rem; 
  color: #E0C54D;
  font-weight: bolder;
}

.btnDest{
  background: #1B1B1B;
  width: 100%;
  color: antiquewhite;
  margin-left: 3rem;
  grid-template-rows: 20rem;
}

.destbtn{
  background: none;
  grid-row-start: 1;
  width: 18vw;
  height: 13vw;
  border: none;
  margin: 2px;
  margin-bottom: 0;
}
.cont-dest{
  align-items: initial;
  margin-top: 0;
}

.btnDestimg{
  width: 17vw;
  height: 12vw;
}

