.container {
  display: flex;
  padding: 0 55px;  
}
.container:hover .item {
  transform: translateX(-25%);
}

.item {
  flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
  width: 50vw;
  z-index: 1;
}

.item:hover ~ .item {
  transform: translateX(25%);
}
.item:hover {
  transform: scale(1.5) !important;
}


.content {
  margin-top: 40px;
  height: 300px;
  position: relative;
}

.background {
  display: flex;
  height: 100%;
}

.left {
  background: black;
  width: 30%;
  position: relative;
}

.left:before .right:before{
  content: '';
  position: absolute;
  background-image: linear-gradient(to right,#0000,transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}

.right {
  width: 70%;
}

.content-container {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px
}

.youtube{
  background: #0000;
  padding: 5px;
  z-index: -1;
}

.sobrepoe{
  z-index: 50;
  background: rgba(255, 255, 0, 0.5);  
  height: 250px;
  width: 380px;
  margin-top: -17vw;
  position: relative;
}

.bar2up {
  position:absolute;
  /* display: none; */
  bottom:5%;
  right:30%;
  width:20%;
  height:20%;
  z-index: 10;
}